@import "../bootstrap-sass-3.3.6/assets/stylesheets/bootstrap";
@import "introjs";
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  // src: local('Material Icons'),
  //      local('MaterialIcons-Regular'),
  //      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
  //      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
  //      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html{
    position: relative;
    min-height: 100%;
}
body{
    padding-top: 70px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    min-width: 640px;
}
.main-container{
  @media (min-width: $screen-sm-min) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.search-block{
  margin-bottom: 20px;
}
.trash-list{
  margin:0 0 20px 0;
  padding:0;
  li{
    display: inline-block;
    list-style-type: none;
    padding:0 5px;
    background-color: lighten(#333,70%);
    margin-right: 5px;
    border-radius:10px;
  }
}
.cards{
    list-style-type: none;
    margin:0;
    padding:0;
    & > .card{
        background-color:#fff;
        padding:10px;
        @include box-shadow(0 1px 1px rgba(0,0,0,.05));
        margin:0 0 10px 0;
        position:relative;
        &:hover{
            .actions{
                a{
                    color: #a3a3a3;    
                }
            }
        }
    }
    .actions{
        margin:0;
        list-style-type: none;
        padding:0;
        position:absolute;
        top:50%;
        right:20px;
        transform: translateY(-50%);
        li{
          float: left;
          padding:0;
          position: relative;
          z-index: 0;
          .colorpickbox{
            z-index: 99999;
            position:absolute;
            top:0;
            left: -10px;
            padding:20px 10px 20px;
            background-color: rgba(0, 0, 0, 0.3);
            // display: none;
            .colorpicker-toggle{
              position:absolute;
              right: 5px;
              top:5px;
              color: #fff;
            }
          }
        }
        a{
            color: #e4e4e4;
            display: inline-block;
            margin-left:5px;
        }
        .material-icons{
            font-size: 1em;
        }
    }
}
.footer {
  position: fixed;
  bottom: 0;
  height: 57px;
  width: 100%;
  /* Set the fixed height of the footer here */
  // height: 60px;
  background-color: #f5f5f5;
  .hd{
    background-color:lighten($brand-primary, 60%);
    margin:0 0 20px 0;
    padding:15px 20px;
    .material-icons{
      position:relative;
      top:5px;
    }
  }
  .cards{
    .card{
      width: 16.6667%;
      float: left;
      margin-right: 15px;
      padding-right: 70px;
    }
  }
  &.expanded{
    height: 300px;
    overflow-y: scroll;
    background-color:#fbfbfb;
  }
}


/** THE 3 MAJOR PANELS **/
.add-story{
  color: #fff;
}


/**
 * For the correct positioning of the placeholder element, the dnd-list and`
 * it's children must have position: relative
 */
.simpleDemo ul[dnd-list],
.simpleDemo ul[dnd-list] > li {
  // position: relative;
  // z-index: 0;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.simpleDemo ul[dnd-list] > li {
    display: block;
    padding: 10px 70px 10px 15px;

}

/**
 * Show selected elements in green
 */
.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}


#trash-box{
  position:fixed;
  width: 40px;
  height: 40px;
  border:1px solid red;
  bottom:0;
  right:0;
  z-index: 9999;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;
  .toggle-button{
    display: block;
    width: 40px;
    height: 40px;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
  }
}